@{
    Layout = "default";
    Title = "David Podhola - F# developer with sales and marketing skills";
    Description = "A blog aware static site generator in mostly F#";
}

<h1>David Podhola</h1>

<p>I love to code and develop application. Have been doing it in BASIC and Pascal since 1986 for fun, professionally since 1994.</p>

<p>
I strongly believe in:
<ul>
    <li>using the latest technologies</li>
    <li>testing</li>
    <li>keeping the users and their business needs first</li>
    <li>understanding the full technology stack I am working with</li>
    <li>Microsoft changed and is doing great OSS work</li>
    <li>open-source</li>
    <li>functional programming</li>
    <li>usability</li>
    <li>using native application (e.g. on mobile phones) and synchronizing them if needed</li>
</ul>	
</p>
<p>The best applications are those that are silently helping the users to do their work unnoticed.</p>
